<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tus créditos</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href= "{% static 'css/deudores.css' %}">
</head>
<body>
<h1>Tus créditos:</h1>
<div class = "contenedor">
    <div class="primer formulario">
    <form>
        <ol>
            {% for d, de in deudas %}
            <li>Deudor: {{d.nombre}} {{d.apellido}} &nbsp;&nbsp; -Deuda inicial: {{d.deuda_inicial_pesos}}- &nbsp; [Fecha {{d.fecha}}] &nbsp; Deuda actualizada: {{de}}</li>
            <a href= "{% url 'deudores:modificar' d.pk %}" class="btn btn-success">Modificar</a>
            <a href= "{% url 'deudores:eliminar' d.pk %}" class="btn btn-success">Eliminiar</a>
            <br><br>
            {% endfor %}
        </ol>
    </form>
    </div>
</div>
</body>
</html>