<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href= "{% static 'css/deudores.css' %}">
</head>
<body>
<h1>Sus deudores:</h1>
<div class = "contenedor">
    <div class="primer formulario">
    <form>

            {% for d in deudores %}
            Deudor: {{d.nombre}} {{d.apellido}} &nbsp;&nbsp; Deuda inicial: {{d.deuda_inicial_pesos}} &nbsp; Deuda inicial en dolares : {{d.deuda_inicial_dolares}} &nbsp;Fecha {{d.fecha}} <br></br>
            {% endfor %}

    </form>
    </div>
    <div class="segundo formulario">
    <form>

            {% for d in deudas_actualizadas %}
            Deuda actualizada: {{d}} <br></br>
            {% endfor %}

    </form>
    </div>
</div>
</body>
</html>